@import "../../../config/style-guide/colours.scss";

$slider-width-number: 1440;
$slider-width: #{$slider-width-number}px;
$slider-height: 20px;
$background-slider: $color-light-grey;
$bar-slider-filled: $color-labs-red;
$thumb-width: 50px;
$thumb-height: 50px;
$shadow-size: -7px;
$fit-thumb-in-slider: -7px;

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function makelongshadow($color, $size) {
  $val: 1px 0 0 $size $color;

  @for $i from 1 through $slider-width-number {
    $val: #{$val}, #{$i}px 0 0 $size #{$color};
  }

  @return $val;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  left: 0;
  bottom: -12px;
}
.progress-wrapper {
  position: relative;
}
.bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin: 0;
  border-radius: 50px;

  // Chrome
  &::-webkit-slider-runnable-track {
    height: $slider-height;
    width: $slider-width;
    content: "";
    pointer-events: none;
    background: $bar-slider-filled;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: $thumb-height;
    width: $thumb-width;
    position: relative;
    margin-top: -3em;
    box-sizing: border-box;
    border: solid 1px transparent;
    border-radius: 1px;
    transform: translateY(-1.5em) rotate(30deg) skewY(30deg) scaleX(0.86603);
    box-shadow: inset -1px -1px #3a3534;
    background: linear-gradient(
        -45deg,
        #3a3534 20%,
        #60858a 50%,
        #3a3534 50%,
        #3a3534 calc(50% + 1px),
        rgba(0, 0, 0, 0) calc(50% + 1px)
      )
      no-repeat content-box;
    filter: drop-shadow(0 0 #3a3534);
  }

  // Firefox
  &::-moz-range-track {
    height: $slider-height;
    width: $slider-width;
    content: "";
    pointer-events: none;
    background: $bar-slider-filled;
    border-radius: 50px;
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    height: 35px;
    width: 35px;
    position: relative;
    margin-top: -40px;
    box-sizing: border-box;
    border: solid 1px transparent;
    border-radius: 1px;
    transform: translateY(-2em) rotate(30deg) skewY(30deg) scaleX(0.86603);
    box-shadow: inset -1px -1px #3a3534;
    background: linear-gradient(
        -45deg,
        #3a3534 20%,
        #60858a 50%,
        #3a3534 50%,
        #3a3534 calc(50% + 1px),
        rgba(0, 0, 0, 0) calc(50% + 1px)
      )
      no-repeat content-box;
    filter: drop-shadow(0 0 #3a3534);
  }
}
