$color-labs-red: #a0372d !default;
$color-darkest-grey: #87a4d0 !default;
$color-dark-grey: #87a4d0 !default;
$color-mid-grey: #696969 !default;
$color-light-grey: #767676 !default;
$color-lightest-grey: #f2f2f2 !default;
$color-subt-green: #87a4d0 !default;
$color-light-shilo: #ddd !default;
